# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data (corr functions, ref images)
IMGS
outputs
mics
*.dat
*.png
*.jpg
*.tif
*.jfif

# Visual Studio Project Files
Release
Debug
.vs
*.vcxproj*
*.diagsession





